@import "../../../styles/variables.scss";

.product-info {
  flex: 8;
  .product-detail {
    margin-bottom: 40px;
    h2 {
      text-transform: uppercase;
      color: $dark-grayish-blue;
      font-weight: bold;
      margin-bottom: 15px;
    }
    h1 {
      color: $very-dark-blue;
      font-size: 45px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    p {
      color: $dark-grayish-blue;
      line-height: 1.7;
      margin-bottom: 20px;
    }
    .prices {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      .first-line {
        display: flex;
        align-items: center;
        gap: 15px;
        .discount-price {
          color: $very-dark-blue;
          font-size: 35px;
          font-weight: bold;
        }
        .discount-percentange {
          background-color: $black;
          color: $white;
          font-weight: bold;
          padding: 4px 10px;
          border-radius: 5px;
        }
      }
      .second-line {
        .product-price {
          color: $dark-grayish-blue;
          text-decoration-line: line-through;
          font-weight: bold;
        }
      }
    }
  }
  .quantity-selector {
    display: flex;
    align-items: center;
    flex: 2;
    background-color: $light-grayish-blue;
    border-radius: 10px;
    padding: 20px 5px;
    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span {
      text-align: center;
      color: $black;
      font-weight: bold;
    }
  }
  .add-cart-button {
    flex: 5;
    button {
      border-radius: 10px;
      padding: 20px 5px;
      background-color: $orange;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: $black;
      font-weight: bold;
      .image {
        filter: brightness(0.1);
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
