@import "variables";

body {
    @include font;
    .app {
        .product-page {
            display: flex;
            align-items: center;
            gap: 100px;
            margin-top: 60px;
        }
    }
}