@import "../../../styles/variables.scss";

.product-gallery {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 4;
  .main-image {
    img {
      border-radius: 10px;
    }
  }
  .thumbnails {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 25px;
    .thumbnail-img {
      border: solid 2px transparent;
      border-radius: 12px;
      img {
        border-radius: 10px;
        cursor: pointer;
        background-size: cover;
        &.thumbnail-img-selected {
          opacity: 0.5;
        }
        &:hover {
          opacity: 0.5;
        }
      }
      &.thumbnail-selected {
        border-color: $orange;
      }
    }
  }
  .gallery-popup {
    position: fixed;
    inset: 0px;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    .gallery-content {
      position: relative;
      .product-image {
        border-radius: 10px;
      }
      .icon-close {
        position: absolute;
        top: -30px;
        right: 0;
        img {
          filter: brightness(0) invert(1);
        }
      }
      .icon-prev {
        position: absolute;
        left: -20px;
        top: 50%;
        background-color: $white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 2px transparent;
        img {
          margin-right: 5px;
        }
        &:hover {
          border-color: $orange;
        }
      }
      .icon-next {
        position: absolute;
        right: -20px;
        top: 50%;
        background-color: $white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 2px transparent;
        img {
          margin-left: 5px;
        }
        &:hover {
          border-color: $orange;
        }
      }
    }
    .thumbnails {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 25px;
      margin-top: 25px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .product-gallery {
    gap: 20px;
    .thumbnails {
      gap: 20px;
    }
    .gallery-popup {
      .gallery-content {
        .product-image {
          border-radius: 0;
        }
        .icon-prev {
          left: 10px;
          width: 35px;
          height: 35px;
        }
        .icon-next {
          right: 10px;
          width: 35px;
          height: 35px;
        }
      }
      .thumbnails {
        gap: 15px;
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}

@media (max-width: 768px) {
  .product-gallery {
    gap: 20px;
    .thumbnails {
      gap: 20px;
    }
    .gallery-popup {
      .gallery-content {
        .product-image {
          border-radius: 0;
        }
        .icon-prev {
          left: 10px;
          width: 35px;
          height: 35px;
        }
        .icon-next {
          right: 10px;
          width: 35px;
          height: 35px;
        }
      }
      .thumbnails {
        gap: 15px;
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}

@media (max-width: 425px) {
  .product-gallery {
    gap: 20px;
    .main-image {
      img {
        border-radius: 0px;
      }
    }
    .thumbnails {
      gap: 20px;
      padding-left: 20px;
      padding-right: 20px;
      .thumbnail-img {
        border-radius: 0px;
        img {
          border-radius: 0px;
        }
      }
    }
    .gallery-popup {
      .gallery-content {
        .product-image {
          border-radius: 0;
        }
        .icon-prev {
          left: 10px;
          width: 35px;
          height: 35px;
        }
        .icon-next {
          right: 10px;
          width: 35px;
          height: 35px;
        }
      }
      .thumbnails {
        gap: 15px;
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}

@media (max-width: 320px) {
  .product-gallery {
    gap: 15px;
    .thumbnails {
      gap: 15px;
    }
  }
}
